<?xml version="1.0" encoding="utf-8"?>

<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="WIIU_Downloader.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="NUSGrabberGUI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <WIIU_Downloader.Properties.Settings>
      <setting name="Region" serializeAs="String">
        <value>NONE</value>
      </setting>
      <setting name="Cleanup" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Path" serializeAs="String">
        <value />
      </setting>
      <setting name="TicketsPath" serializeAs="String">
        <value />
      </setting>
      <setting name="ThemeName" serializeAs="String">
        <value>DarkOrange</value>
      </setting>
      <setting name="CompactView" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ShowLegit" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCFW" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowEvents" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LastNewsDate" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="TicketsPath3DS" serializeAs="String">
        <value />
      </setting>
      <setting name="EUR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="JPN" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="USA" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CemuExecutable" serializeAs="String">
        <value />
      </setting>
      <setting name="ExtractFolder" serializeAs="String">
        <value />
      </setting>
      <setting name="DonationKey" serializeAs="String">
        <value />
      </setting>
      <setting name="LaunchCount" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Platforms" serializeAs="String">
        <value />
      </setting>
      <setting name="WindowPosition" serializeAs="String">
        <value>0, 0, 0, 0</value>
      </setting>
      <setting name="WindowState" serializeAs="String">
        <value>Normal</value>
      </setting>
      <setting name="ForceUpdates" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowHaxchiWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ForceUpdatesCitra" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowEmulatorDataWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowProgramFilesWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowCitraWarning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="Show552Warning" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ForceUpdatesDolphin" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="KOR" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableSuperSpeed" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="MeasuredSpeed" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="Mine" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AppId" serializeAs="String">
        <value />
      </setting>
      <setting name="ForceGameMode" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PauseMiner" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="EnableCloudSaving" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="CloudUserName" serializeAs="String">
        <value />
      </setting>
      <setting name="CloudPassWord" serializeAs="String">
        <value />
      </setting>
      <setting name="ShowDownloadManagerTip" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ShowSpeedGraph" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="ChatNotifications" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="TicketsPathWii" serializeAs="String">
        <value />
      </setting>
      <setting name="GameSpecificRoom" serializeAs="String">
        <value>True</value>
      </setting>
    </WIIU_Downloader.Properties.Settings>
    <NUSGrabberGUI.Properties.Settings>
      <setting name="Region" serializeAs="String">
        <value>NONE</value>
      </setting>
      <setting name="Cleanup" serializeAs="String">
        <value>True</value>
      </setting>
    </NUSGrabberGUI.Properties.Settings>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="DeviceIOControlLib" publicKeyToken="194e86a1dcd77098" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-0.1.3.0" newVersion="0.1.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.DXGI" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="SharpDX.Mathematics" publicKeyToken="b4dcf0f35e5521f1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.1.2.0" newVersion="3.1.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>